@model Sistema_simples.Models.Emprestimo

<h4>Emprestimo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Código do Usuário:</label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Código do Produto:</label>
                <select asp-for="ProdutoId" class ="form-control" asp-items="ViewBag.ProdutoId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Quantidade do Produto:</label>
                <input asp-for="quantidade" class="form-control" />
                <span asp-validation-for="quantidade" class="text-danger"></span>
                <span class="text-danger">@ViewData["Indisponivel"]</span>
            </div>
            <div class="form-group">
                <label class="control-label">Data do Emprestimo:</label>
                <input asp-for="data" class="form-control" />
                <span asp-validation-for="data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Data da Devolução:</label>
                <input asp-for="data_devolucao" class="form-control" />
                <span asp-validation-for="data_devolucao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Status do Emprestimo:</label>
                <select asp-for="status" class="form-control" >
                    <option value="Na empresa">Na empresa</option>
                    <option value="Emprestado">Emprestado</option>
                    <option value="Devolvido">Devolvido</option>
                </select>
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Informações adicionais:</label>
                <input asp-for="informacoes_adicionais" class="form-control" />
                <span asp-validation-for="informacoes_adicionais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" asp-route-usuarioId="@ViewData["id"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-usuarioId="@ViewData["id"]" class="btn btn-secondary">Voltar a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
